// COLORS
$gray: #7f7f7f;
$dark-gray: #363636;
$light-gray: #e8e8e8;
$red: #fa5151;
$green: #0cf574;
$purple: #3e3b7d;
$teal: #6690b7;
$white: #fff;

// CONTENT
$color-body-bg: #f9f7f5;
$color-text: #444;
$color-heading-text: #35495e;

// INPUTS
$color-input-border: lighten($color-heading-text, 50%);

// LINKS
$color-link-text: $red;
$color-link-text-active: $color-text;

// BUTTONS
$color-button-bg: $color-link-text;
$color-button-disabled-bg: darken(desaturate($color-button-bg, 20%), 10%);
$color-button-text: white;
